@use '../../sass/abstracts' as *;

.siteWrapper {
  margin: 15px;
  width: calc(100% - 30px) !important;
  height: calc(100vh - 30px) !important;
  background-color: clr('neutral-dark');
  border-radius: 12.5px;
  position: relative;
  box-shadow: 10px 10px 20px clr('neutral-light',600);

  @include breakpoint('lg') {
    margin: 20px;
    width: calc(100% - 40px) !important;
    height: calc(100vh - 40px) !important;
    border-radius: 25px;
  }

  .mainContent {
    position: relative;
    // padding-top: 100px;
  }
}