html, body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 16px;
	min-width: 960px;
}

.wrap {
	width: 960px;
	margin: 0 auto;
}

.clear {
	width: 100%;
	height: 1px;
	clear: both;
}

p {
	margin: 15px 0;
	font-size: 16px;
	line-height: 22px; 
}

hr {
	width: 100%;
	margin: 60px 0;
	border-top: 1px solid #f1f1f1;
	border-bottom: none;
	border-left: none;
	border-right: none; 
	clear: both;
}

strong {
	font-weight: bold;
}

input,
select,
textarea,
button {
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}

.error {
	background: #e74c3c;
	border: 1px solid #c0392b;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 20px;
	margin: 50px 0;
}

.success {
	background: #2ecc71;
	border: 1px solid #27ae60;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 20px;
	margin: 50px 0;
}

.error p,
.success p {
	font-size: 24px !important;
	margin: 0 !important;
	text-align: center !important;
	display: inline !important;
	width: auto !important;
}

header {
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

header a:link,
header a:visited {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 100;
	-webkit-transition:border-color 1s ease;
	-moz-transition:border-color 1s ease;
	-o-transition:border-color 1s ease;
	transition:border-color 1s ease;
}

header a:hover,
header a:active {
	text-decoration: underline;
	-webkit-transition:border-color 1s ease;
	-moz-transition:border-color 1s ease;
	-o-transition:border-color 1s ease;
	transition:border-color 1s ease;
}

header .nav {
	width: 400px;
	position: absolute;
	z-index: 3;
	top: 18px;
	left: -190px;
	margin-left: 50%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

header.sticky .nav {
	top: 12px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;	
}

header .nav li {
	display: inline-block;
	width: 72px;
	text-align: left;
}

header .nav li.spacer {
	width: 90px;
}

header.sticky {
	width: 100%;
	position: fixed;
	z-index: 10;
	padding: 5px 0;
	top: 0;
	background: #212121;
	height: 30px;
	-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#logo {
	width: 31px;
	height: 44px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

header.sticky #logo {
	width: 21px;
	height: 30px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.intro {
	width: 100%;
	height: 863px;
	background: #cc3f39 url(../images/intro_banner.jpg) no-repeat right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.intro video {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	min-width: 100%;
}

.intro .red {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: url(../images/red-60.png) repeat; */
	background: -moz-linear-gradient(-45deg,  rgba(249, 156, 30, 0.75) 0%, rgba(204,12,6,0.73) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249, 156, 30, 0.75)), color-stop(100%,rgba(204,12,6,0.73))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(249, 156, 30, 0.75) 0%,rgba(204,12,6,0.73) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(249, 156, 30, 0.75) 0%,rgba(204,12,6,0.73) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(249, 156, 30, 0.75) 0%,rgba(204,12,6,0.73) 100%); /* IE10+ */  
	background: linear-gradient(135deg,  rgba(249, 156, 30, 0.75) 0%,rgba(217, 21, 14, 0.86) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94cc3f39', endColorstr='#bacc0c06',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
}

.intro .wrap {
	padding: 260px 0 0 0;
	position: absolute;
	z-index: 3;
	left: 50%;
	margin-left: -480px;
}

.intro h1 {
	font-size: 53px;
	font-weight: 100;
	color: #fff;
	opacity: 0;
}

.intro p {
	font-size: 36px;
	font-weight: 100;
	color: #fff;
	opacity: 0;
}

.intro a {
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	text-decoration: none;
	margin: 30px 0 0 0;
	display: inline-block;
	opacity: 0;
}

.skills {
	width: 100%;
	padding: 80px 0;
	background: #f4f4f4;
}

.skills h1 {
	font-size: 36px;
	color: #cc3f39;
	text-align: center;
	width: 380px;
	margin: 0 auto 60px auto;
	padding: 0 0 15px 0;
	display: block;
	font-weight: 100;
	border-bottom: 1px solid #e4e4e4;
}

.skills ul {
	text-align: center;
}

.skills ul li {
	display: inline-block;
	width: 200px;
	padding: 0 50px;
	text-align: center;
	vertical-align: top;
}

.skills h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 25px 0;
	text-align: center;
}

.skills i {
	padding: 20px;
	color: #cc3f39;
	font-size: 40px;
	border: 1px solid #cc3f39;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.projects {
	width: 100%;
	padding: 80px 0;
	background: #fff;
}

.projects h1 {
	font-size: 36px;
	color: #cc3f39;
	text-align: center;
	width: 380px;
	margin: 0 auto 60px auto;
	padding: 0 0 15px 0;
	display: block;
	font-weight: 100;
	border-bottom: 1px solid #e4e4e4;
}

.projects h2 {
	font-size: 22px;
	color: #333;
	font-weight: 300;
	margin: 10px;
}

.projects h2 a {
	text-decoration: none;
	color: #333;
	-webkit-transition: all 250ms;
	-o-transition: all 250ms;
	transition: all 250ms;
}

.projects h2 a:hover {
	color: #cc3f39;
	-webkit-transition: all 250ms;
	-o-transition: all 250ms;
	transition: all 250ms;
}

.projects ul {
	text-align: center;
}

.projects li {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #f1f1f1;
	-webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;
	overflow: hidden;
	margin: 20px;
	width: 350px;
	text-align: left;
	-webkit-box-shadow: 5px 5px 0 0 #f7f7f7; box-shadow: 5px 5px 0 0 #f7f7f7;
}

.projects .tags {
	margin: 10px;
}

.projects .tag {
	display: inline-block;
	font-size: 11px;
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	padding: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 2px 1px;
}

.resume {
	width: 100%;
	padding: 80px 0;
	background: #fafafaI;
}

.resume .left {
	float: left;
	width: 25%;
}

.resume .right {
	float: right;
	width: 70%;
}

.resume h1 {
	font-size: 36px;
	color: #cc3f39;
	text-align: center;
	width: 380px;
	margin: 0 auto 60px auto;
	padding: 0 0 15px 0;
	display: block;
	font-weight: 100;
	border-bottom: 1px solid #e4e4e4;
}

.resume h2 {
	font-size: 28px;
	color: #cc3f39;
	font-weight: 300;
	text-align: right;
}

.resume h3 {
	font-size: 24px;
	color: #333;
	font-weight: 300;
	float: left;
	display: block;
}

.resume p.date {
	float: right;
	display: block;
	margin: 0;
}

.resume p.meta {
	margin: 5px 0;
	color: #999;
	text-transform: uppercase;
}

.resume li {
	margin: 10px 0 20px 0;
}

.contact {
	width: 100%;
	padding: 80px 0;
	background: #63605d url(../images/contact_banner.jpg) center no-repeat fixed;
	min-height: 700px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}

.g-recaptcha {
	display: inline-block;
}

.contact h1 {
	font-size: 36px;
	color: #fff;
	text-align: center;
	width: 380px;
	margin: 0 auto 60px auto;
	padding: 0 0 15px 0;
	display: block;
	font-weight: 100;
}

.contact h2 {
	font-size: 26px;
	color: #fff;
	text-align: center;
	width: 380px;
	margin: 0 auto;
	padding: 0 0 15px 0;
	display: block;
	font-weight: 100;
}

.contact p {
	font-size: 32px;
	color: #fff;
	text-align: center;
	width: 380px;
	margin: 0 auto 60px auto;
	padding: 0 0 15px 0;
	display: block;
	font-weight: 100;
}

.contact input,
.contact textarea,
.contact select {
	margin: 20px auto;
	display: block;
	padding: 10px;
	width: 400px;
	height: 30px;
	-webkit-box-shadow: 0 0 20px 0 #333;
	box-shadow: 0 0 20px 0 #333;
	border: none;
	outline: none;
	font-size: 16px;
	color: #333;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.contact textarea {
	height: 100px;
}

.contact button {
	margin: 20px auto;
	display: block;
	padding: 10px;
	width: 400px;
	height: 30px;
	-webkit-box-shadow: 0 0 20px 0 #333;
	box-shadow: 0 0 20px 0 #333;
	border: none;
	outline: none;
	font-size: 20px;
	color: #fff;
	background: #E75450;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	border-bottom: 2px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
	transition: all 350ms;
	font-weight: 100;
}

.contact button:hover {
	background: #CB4440;
	-webkit-transition: all 350ms;
	-o-transition: all 350ms;
	transition: all 350ms;
}

.contact .phone {
	pointer-events: none;
	cursor: default;
	color: #fff;
	text-decoration: none;
}