@use '../abstracts/breakpoints.scss' as *;

$width: 100%;
$gutter: 0;
$breakpoint-small: map-get($breakpoints, "sm");
$breakpoint-med: map-get($breakpoints, "md");
$breakpoint-large: map-get($breakpoints, "lg");

.container {
	width: 90%;
	max-width: $wrap_width;
	margin-left:auto;
  margin-right:auto;
  &-large,
  &.large {
    @extend .container;
    max-width: $large_wrap_width;
  }
  &-small,
  &.small {
    @extend .container;
    max-width: $small_wrap_width;
  }
}

.row {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  @include breakpoint(md) {
    flex-wrap: nowrap;
  }

  [class^="col-"] {
    // flex: 1;
    margin: 0.75%;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

.col-1-sm { width: calc($width / 12) - 1.5%; }
.col-2-sm { width: calc($width / 6) - 1.5%; }
.col-3-sm { width: calc($width / 4) - 1.5%; }
.col-4-sm { width: calc($width / 3) - 1.5%; }
.col-5-sm { width: calc($width / calc(12 / 5)) - 1.5%; }
.col-6-sm { width: calc($width / 2) - 1.5%; }
.col-7-sm { width: calc($width / calc(12 / 7)) - 1.5%; }
.col-8-sm { width: calc($width / calc(12 / 8)) - 1.5%; }
.col-9-sm { width: calc($width / calc(12 / 9)) - 1.5%; }
.col-10-sm { width: calc($width / calc(12 / 10)) - 1.5%; }
.col-11-sm { width: calc($width / calc(12 / 11)) - 1.5%; }
.col-12-sm { width: $width - 1.5%; }

@media only screen and (min-width: $breakpoint-med) {
  .col-1 { width: calc($width / 12) - calc($gutter * 11 / 12); }
  .col-2 { width: calc($width / 6) - calc($gutter * 10 / 12); }
  .col-3 { width: calc($width / 4) - calc($gutter * 9 / 12); }
  .col-4 { width: calc($width / 3) - calc($gutter * 8 / 12); }
  .col-5 { width: calc($width / calc(12 / 5)) - calc($gutter * 7 / 12); }
  .col-6 { width: calc($width / 2) - calc($gutter * 6 / 12); }
  .col-7 { width: calc($width / calc(12 / 7)) - calc($gutter * 5 / 12); }
  .col-8 { width: calc($width / calc(12 / 8)) - calc($gutter * 4 / 12); }
  .col-9 { width: calc($width / calc(12 / 9)) - calc($gutter * 3 / 12); }
  .col-10 { width: calc($width / calc(12 / 10)) - calc($gutter * 2 / 12); }
  .col-11 { width: calc($width / calc(12 / 11)) - calc($gutter * 1 / 12); }
  .col-12 { width: $width; }
}
